n8n/workflows/insightiq-rfm-alerts.json
{
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"triggerAtHour": 8}]}},
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-48, 144],
      "id": "ca013a11-6326-453c-ac9e-e66985f01e60",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT customer_key, segment_label, monetary\nFROM customer_rfm_segments\nWHERE segment_label IN ('At Risk', 'Lost')\nORDER BY monetary DESC\nLIMIT 10;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [160, 144],
      "id": "c0427966-99ea-4315-a975-3a262019332e",
      "name": "Get At-Risk / Lost Customers",
      "credentials": {
        "postgres": {"id": "OQ3KW2ThSmYifMTz", "name": "Postgres account"}
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [
            {
              "id": "7cdbe06a-9e87-4fd9-ab41-b8cdce7a6d3a",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt", "name": "filter.operator.gt"}
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [368, 144],
      "id": "1d0cde9f-7b7a-45bc-80c8-e2a5bd881083",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Collapse the (up to 10) Postgres rows into a single item so the\n// HTTP Request node fires once with the full list, not once per row.\nconst customers = $input.all().map(item => item.json);\nreturn [{ json: { customers } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 48],
      "id": "4d8147b1-4528-4ae8-a96a-18b76b63a247",
      "name": "Aggregate Customers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"The following are the top at-risk and lost high-value customers from an RFM segmentation analysis (customer_key, segment_label, monetary = total spend), ordered by spend descending: {{ JSON.stringify($json.customers) }}. Write a 2-3 sentence retention-focused summary of who these customers are and what action should be considered to win them back.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [784, 48],
      "id": "62b03297-928e-4e02-b8bb-27f1c92f1277",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Get At-Risk / Lost Customers", "type": "main", "index": 0}]]},
    "Get At-Risk / Lost Customers": {"main": [[{"node": "If", "type": "main", "index": 0}]]},
    "If": {"main": [[{"node": "Aggregate Customers", "type": "main", "index": 0}]]},
    "Aggregate Customers": {"main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d662c9af7941d2bd3e3f17a5f0c492439365f74bad8a77f9c69b61422506df9"
  }
}
