n8n/workflows/insightiq-data-validation.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as null_customer_fk FROM fact_orders WHERE customer_key IS NULL;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [144, 144],
      "id": "d45535e5-7388-4808-bd10-7520f4edede3",
      "name": "insightiq-data-validation",
      "credentials": {
        "postgres": {"id": "OQ3KW2ThSmYifMTz", "name": "Postgres account"}
      }
    },
    {
      "parameters": {"rule": {"interval": [{"triggerAtHour": 9}]}},
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-48, 144],
      "id": "84631e27-9887-488b-b227-40f3abc3d826",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3},
          "conditions": [
            {
              "id": "5ab39a51-75af-4954-aab4-4f51529a5068",
              "leftValue": "={{ $json.null_customer_fk }}",
              "rightValue": "0",
              "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [352, 144],
      "id": "10f1d5cc-ac2c-4467-9683-4f53e654d7de",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"A data validation check found {{ $json.null_customer_fk }} orders with a NULL customer_key in the fact_orders table. Write a 2-sentence alert summary explaining what this means and why it matters for a sales analytics dashboard.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [560, 48],
      "id": "198674ed-c5b0-4670-b3e7-47e420a6e23a",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "insightiq-data-validation": {"main": [[{"node": "If", "type": "main", "index": 0}]]},
    "If": {"main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d662c9af7941d2bd3e3f17a5f0c492439365f74bad8a77f9c69b61422506df9"
  }
}
